/* .Color Palette{
color: #a0a395, #717744, #abac7f, #fefefe, #080808
} */


body{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  background-color: #e9ecef;
}

.dark-mode {
  background-color: black;
  color: white;
  left: 0;
  
}

.filterDiv {
  float: left;
  display: none;
  box-shadow: 
  1px 3px 3px rgba(0,0,0,0.2),
  -1px -1px 4px rgba(0,0,0,0.2);
  background: #abac7f;
  line-height: 0px;
  text-align: center;
  margin: 10px;
  border-radius: 25px;
  /* font-family: 'Playfair Display', serif; */
}


img {
  width:  350px;
  height: 300px;
  object-fit: cover;
}

.show {
  display: block;
}

h1 {
  font-size: 30px;
  word-break: break-all;
  font-family: 'Playfair Display', serif;
  
}

h2 {
  font-size: medium;
  font-family: 'Playfair Display', serif;

}

h6{
  font-size: small;
  width: 100px; 
  height: 2px;
}

.myBtnContainer{
  padding-top: 40px;
}

.line{
  
  font-weight: bold;
  font-family: 'Playfair Display', serif; 
  padding: 5%;
}

.col-5{
  margin: auto;
  align: center;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #abac7f;
  cursor: pointer;
  margin: 1px;
  margin-bottom: 60px;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #717744;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #373d20;
   color: #fefefe;
}


/* For View Recipe Button */
:root {
  --background-color: #000000;
  --color: #000000;
  --light-theme: #ffffff;
}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}





/*Beginning of style for the top bar :) */

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #717744;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  /*End of style for the top bar  :( */


  /* DARK MODE SWITCH */
  .swtich {
    display: flex;
    
  }
  body span.switcher {
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    padding-top: 6px;
    margin: 10px 0;
  }
  body span.switcher input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: #1E1E1E;
    outline: none;
    font-family: "Oswald", sans-serif;
  }
  body span.switcher input:before, body span.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #939393;
  }
  body span.switcher input:before {
    content: "ON";
    left: 20px;
  }
  body span.switcher input:after {
    content: "OFF";
    right: 20px;
  }
  body span.switcher label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 0px;
    border-radius: 20px;
  }
  body span.switcher.switcher-1 input:checked {
    background-color: #FFFFFF;
  }
  body span.switcher.switcher-1 input:checked + label {
    left: 10px;
    right: 50px;
    background: #1E1E1E;
    transition: left 0.5s, right 0.4s 0.2s;
  }
  body span.switcher.switcher-1 input:not(:checked) + label {
    left: 50px;
    right: 10px;
    background: #FFFFFF;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
  }
  /* DARK MODE SWITCH END */

  /* View Recipe */  
  .button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1em 1em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    
  }
  .button:hover {
    background: #dbcdb5;
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    transform: scaleY(0);
  }
  /* END View Recipe */


  /* Filter Selection */
  .breadcrumb {
    display: flex;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 70px;
    transform: translateY(-50%);
    z-index: 1;
    justify-content: center;
    background-color: transparent;
  }
  
  .breadcrumb__item {
    height: 100%;
    background-color: white;
    color: #252525;
    font-family: "Oswald", sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 5px;
    padding: 0 40px;
    cursor: pointer;
  }
  
  .breadcrumb__item:hover {
    background: #abac7f;
    color: #fff;
  }
  
  .breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(21deg);
  }
  
  .breadcrumb__title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  @media all and (max-width: 1000px) {
    .breadcrumb {
      height: 35px;
    }
  
    .breadcrumb__title {
      font-size: 11px;
    }
    .breadcrumb__item {
      padding: 0 30px;
    }
  }
  
  @media all and (max-width: 710px) {
    .breadcrumb {
      height: 30px;
    }
    .breadcrumb__item {
      padding: 0 20px;
    }
  }
  
  li {
    list-style: none;
  }
  /* END Filter Selection*/


  /* Reciepe */

  /* For 5-star Rating */
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
 /* End of 5-star Rating */

 /* For Print */
 button.print-button {
  width: 100px;
  height: 100px;
}
span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;

  border: none;
  background: transparent;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height 0.2s 0.15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0,
    #fff 14%,
    #333 14%,
    #333 28%,
    #fff 28%,
    #fff 42%,
    #333 42%,
    #333 56%,
    #fff 56%,
    #fff 70%,
    #333 70%,
    #333 84%,
    #fff 84%,
    #fff 100%
  );

  transition: height 0.2s, border-width 0s 0.2s, width 0s 0.2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height: 0px;
  transition: height 0.2s;
}
button.print-button:hover .print-icon::after {
  height: 120%;
  transition: height 0.2s 0.15s, border-width 0s 0.16s;
}
/* END For Print */

/* For Verticle line  */
.vertical-line {
  border-left: 0.5px solid rgb(211, 211, 211);
  height: 200px;
}
/* END for Verticle line  */

/* For Ingredient Checkbox */
.recipe__ingredients label {
  cursor: pointer;
}
.recipe__ingredients label:hover {
  color: #3298dc;
}
.recipe__ingredients input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.recipe__ingredients input::before {
  color: #666;
  font-family: "Font Awesome 5 Free";
  content: "";
  margin-right: 0.25rem;
}
.recipe__ingredients input:checked ~ span {
  font-style: italic;
  color: #666;
  text-decoration: line-through;
}

/* End For Ingredient Checkbox */


/* For Feedback Button */
.input2, textarea { 
  padding: 10px; 
  border: 1px solid #e5e5e5 ; 
  width: 200px; 
  color: #999999; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit—box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
textarea {
      width: 400px;
      height: 150px;
      max-width: 400px;
      line-height: 18px;
}
.input2:hover, textarea:hover,
.input2:focus, textarea:focus {
      border-color: 1px solid #c9c9c9;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
      -webkit—box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}
.form label {
  margin-left: 10px;
  color: #999999;
}
.submit input { 
  width: 100px; 
  height: 40px; ;
  background-color: #474E69; 
  color: #FFF; 
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
}
/* END For Submit Button */
