/* .Color Palette{
color: #a0a395, #717744, #abac7f, #fefefe, #080808
} */


body{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  background-color: #e9ecef;
}
/* mathi ko nachalau */

.dark-mode {
  background-color: black;
  color: white;
  left: 0;
  
}

.filterDiv {
  float: left;
  display: none;
  box-shadow: 
  1px 3px 3px rgba(0,0,0,0.2),
  -1px -1px 4px rgba(0,0,0,0.2);
  background: #abac7f;
  line-height: 0px;
  text-align: center;
  margin: 10px;
  border-radius: 25px;
  /* font-family: 'Playfair Display', serif; */
}


img {
  width:  350px;
  height: 300px;
  object-fit: cover;
}

.show {
  display: block;
}

h1 {
  font-size: 30px;
  word-break: break-all;
}

h2 {
  font-size: medium;
}

.myBtnContainer{
  padding-top: 40px;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #abac7f;
  cursor: pointer;
  margin: 1px;
  margin-bottom: 60px;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #717744;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #373d20;
   color: #fefefe;
}


/* For View Recipe Button */
:root {
  --background-color: #000000;
  --color: #000000;
  --light-theme: #ffffff;
}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}





/*Beginning of style for the top bar :) */

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #717744;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  /*End of style for the top bar  :( */


  /* DARK MODE SWITCH */
 /* .btn-sm{
  padding: 10px 10px;
  font-size: 22px;
  border-radius: 2px;
 } */
  .swtich {
    display: flex;
  }
  body span.switcher {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0;
  }
  body span.switcher input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #1E1E1E;
    outline: none;
    font-family: "Oswald", sans-serif;
  }
  body span.switcher input:before, body span.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
  }
  body span.switcher input:before {
    content: "ON";
    left: 20px;
  }
  body span.switcher input:after {
    content: "OFF";
    right: 20px;
  }
  body span.switcher label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 0px;
    border-radius: 20px;
  }
  body span.switcher.switcher-1 input:checked {
    background-color: #FFFFFF;
  }
  body span.switcher.switcher-1 input:checked + label {
    left: 10px;
    right: 100px;
    background: #1E1E1E;
    transition: left 0.5s, right 0.4s 0.2s;
  }
  body span.switcher.switcher-1 input:not(:checked) + label {
    left: 100px;
    right: 10px;
    background: #FFFFFF;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
  }
  
  /* DARK MODE SWITCH END */

  /* View Recipe */  
  .button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1em 1em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    
  }
  .button:hover {
    background: #dbcdb5;
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    transform: scaleY(0);
  }
  /* View Recipe end */


  /* Filter Selection */
  .breadcrumb {
    display: flex;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 70px;
    transform: translateY(-50%);
    z-index: 1;
    justify-content: center;
  }
  
  .breadcrumb__item {
    height: 100%;
    background-color: white;
    color: #252525;
    font-family: "Oswald", sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 5px;
    padding: 0 40px;
    cursor: pointer;
  }
  
  .breadcrumb__item:hover {
    background: #abac7f;
    color: #fff;
  }
  
  .breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(21deg);
  }
  
  .breadcrumb__title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  @media all and (max-width: 1000px) {
    .breadcrumb {
      height: 35px;
    }
  
    .breadcrumb__title {
      font-size: 11px;
    }
    .breadcrumb__item {
      padding: 0 30px;
    }
  }
  
  @media all and (max-width: 710px) {
    .breadcrumb {
      height: 30px;
    }
    .breadcrumb__item {
      padding: 0 20px;
    }
  }
  
  li {
    list-style: none;
  }
  /* Filter Selection end*/
